/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b809a;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}


@media (max-width: 1443px)
{
  .css-znq6tb-MuiTypography-root {
    font-size: 0.75rem !important;
  }
  .css-1tvc6i6-MuiTypography-root{
    font-size: 1.2rem !important;
  }
}